

html {
    scroll-behavior: smooth;
  }

:root {
    --Poppins:'Poppins', sans-serif;
    --white: #FCFCFC;
    --button-width: 8rem;
    --button-height: 2.4rem;
    --button-gray: #474747;
    --button-hover: #3766a4;
    --size-titles: 2.2rem;
    --width-cards: calc(100% - 15rem);
}

/* Landing Page Section */

body {
    font-family: var(--Poppins);
    color: var(--white);
}

.section__main {
    background-image: url(/img/backgrounds/background-main.jpg);
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.navbar {
    display: flex;
    position: fixed;
    z-index: 100;
    width: 100vw;
    justify-content: space-between;
    background-color: rgba(71, 71, 71, 0.65);
}

.progress-bar {
    width:100%;
    position:fixed;
    top: 4.0625rem;
    height: 0.3rem;
    background-color: transparent;
}
.bar {
    width:0%;
    position: fixed;
    top: 4.0625rem;
    height: 0.3rem;
    background-color: rgba(203, 203, 203, 0.7);

} 


.logo {
    display: flex;
    padding: 1rem 0 1rem 5vw;
    justify-self: center;
    font-size: 1.8rem;

}

.menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 1rem 7.25rem 1rem 0;
    margin: 0;
    font-size: 1.1rem;
    justify-content: space-evenly;
}

.toggle__menu {
    display: none;
}

.menu__link {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 0.5rem;
    transition: 100ms;
}

.menu__link:hover {
    transform: scale(1.15);
    transition: 400ms;
    background-color: #4a5682;
    border-radius: 0.3rem;
}

.menu__link:focus {
    background-color: red;
}

a {
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
}

.main__card {
    display: grid;
    margin: 0 auto;
    grid-template-areas:
    'avatar avatar main__h1 main__h1'
    'avatar avatar main__name main__name'
    'avatar avatar main__paragraph main__paragraph'
    'avatar avatar button_contact button_projects';
    grid-template-columns: auto auto 10rem auto;
    width: var(--width-cards);
    padding-top: 9rem;
    gap: 0.2rem;
}

.avatar {
    grid-area: avatar;
    justify-self:right;
    padding-right: 1.5rem;
}

.main__h1 {
    grid-area: main__h1;
    font-size: 1rem;
    margin: 0;
    align-self:flex-end;
    font-weight: 200;
    font-size: 1rem;
}

.main__name {
    grid-area: main__name;
    font-size: 1.7rem;
    margin: 0;
    font-weight: 300;
    align-self: center;
}

.main__paragraph {
    grid-area: main__paragraph;
    max-width: 440px;
    margin: 0;
    font-weight: 200;
}

.button {
    width: var(--button-width);
    height: var(--button-height);
    border-radius: 7px;
    border: 1px solid #a29f9f;
    color: var(--button-gray);
    background-color: var(--white);
    transition: 200ms;
}

.button:hover {
    cursor: pointer;
    background-color: var(--button-hover);
    color: var(--white);
    transform: scale(1.04);
    transition: 200ms;

}

.ghost_button {
    
    background-color: transparent;
    color: var(--white);
}


.button_contact {
    grid-area: button_contact;
}
.button_projects {
    grid-area: button_projects;
}

.main__banner {
    display: grid;
    width: 90vw;
    max-width: 900px;
    padding: 0 1rem 0.5rem;
    margin: 0 auto ;
    border-radius: 16px;
    background-color: #7C7C7C56;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: auto auto;
}

.main__banner > img, h3 {
    justify-self: center;
}

.main__banner > img {
    padding-top: 30px;
    transition: 250ms;
    filter: saturate(0);
    
}

.main__banner > img:hover {
    cursor: pointer;
    filter: saturate(1);
    transform: scale(1.15);
    transition: 250ms;
}

.main__banner > h3 {
    font-weight: 200;
    font-size: 0.9rem;
}

/* Last Projects Section */

.projects__section {
    width: 100vw;
    background-color: #1E1E1E;
}

.projects__title {
    display: flex;
    width: 100%;
    background: #1E1E1E;
    margin: 0 auto;
    padding: 7rem 0 2rem;
    justify-content: center;
    font-weight: 500;
    font-size: var(--size-titles);
}

.card__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card__img {
    display: flex;
    width: 100%;
    height: 100%;
    object-position: center;
    align-self: center;
    object-fit: cover;
}

.card__text {
    display: grid;
    grid-template-rows: auto auto auto;
    background-color: #204F98;
    width: 100%;
}

.card__title-h4 {
    padding: 4rem 3rem 0 3rem;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 300;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0;
}

.card__paragraph {
    padding: 0 10%;
    font-weight: 200;
    font-size: 1rem;
    margin: 1.75rem 0 0;
    line-height: 22px;
    text-align: justify;
}

.buttons__card {
    padding: 1.2rem 0rem 2rem;
    margin: auto;
    display: flex;
}

.button_code {
    margin-right: 1rem;
}

.card__text-coach {
    background-color: #2D6F77;
}

.buttons__card-left {
    justify-content:end;
}

.card__text-photos {
    background-color: #A47C63;
}

/* About me section */

.about-me {
    width: 100vw;
    background-image: url(/img/backgrounds/bg-section-about-me.jpg);
    background-size: cover;
}

.about-me__visionmission {
    display: grid;
    background-color: #221e1e8c;
    border-radius: 23px;
    width: var(--width-cards);
    margin: 4rem auto 2rem;
    grid-template-columns: 1fr 1fr;
    padding: 0 3rem 1rem;
    column-gap: 3rem;
    justify-items: center;
    text-align: justify;
    transition: 1000ms;
}

.about-me__visionmission > img {
    padding-top: 1.5rem;
    transition: 300ms;
}

.about-me__visionmission > img:hover {
    transform: scale(1.11);
    transition: 300ms; 
    cursor: pointer;
}

.about-me__visionmission > h3 {
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: 0.25rem;
    padding: 0;
}

.about-me__p {
    font-weight: 200;
    letter-spacing: 2% ;
    line-height: 21px;
    padding: 0 2rem;
}

.how-i-work {
    display: grid;
    background-color: #221e1e8c;
    border-radius: 23px;
    width: var(--width-cards);
    margin: 0 auto;
    grid-template-rows: auto 1fr;
    padding: 0 3rem 3rem;
    row-gap: 2rem;
}

.how-i-work__process {
    display: grid;
    justify-items: center;
    padding-top: 2rem;
}

.how-i-work__process > h3 {
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: 0.25rem;
    text-align: center;
}

.about-me__p-work-process {
    width: 45vw;
    text-align: justify;

}

.how-i-work__steps {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    align-items: center;
}

.how-i-work__steps > div{
    display: grid;
    grid-template-rows: 7rem auto;
    justify-items: center;
    align-self:flex-start;
    padding: 1.3rem 1rem 0;
    font-weight: 200;
    letter-spacing: 2% ;
    line-height: 21px;
    height: 100%;
    margin: 0;
    transition: 650ms;
    border-radius: 1rem;
}


.how-i-work__steps > div:hover {
background-color: rgba(55, 102, 164, 0.55);
transition: 650ms;
cursor: pointer;
}

/* Contact Section */

.contact {
    width: 100vw;
    min-height: 100vh;
    background-image: url(/img/backgrounds/background-section-contact.jpg);
    background-size: cover;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    justify-items: space-between;

}

.contact__h2 {
    display: flex;
    background: #1E1E1E;
    margin: 0 auto;
    width: 100vw;
    padding: 7rem 0 2rem;
    justify-content: center;
    font-weight: 500;
}

.form_container {
    display: grid;
    width: 100%;
    grid-template-rows: repeat(8, auto);
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
    margin: 3rem auto 0;
    justify-content: center;
    border-radius: 10px;
    padding-bottom: 1rem;
}

.form {
    display: grid;
    width: 95%;
    margin: auto;
    text-align: center;
    grid-template-rows: repeat(4, auto);
    justify-items: center;
    align-items: center;
}

.form_title {
    display: flex;
    justify-content: center;
    font-weight: 300;
    letter-spacing: 0.4rem;
}

.form-name {
    font-weight: 300;
    letter-spacing: 0.3rem;
    padding: 1rem 0 0.35rem 0;
}

.form_input{
    width: 95%;
}

.form_input--message {
    height: 11rem;
    margin-bottom: 1rem;
}

.footer {
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: 200;
    text-align: center;
}


@media (max-width: 900px) {
    
    .toggle__menu {
        display: flex;
        z-index: 110;
        padding-right: 5vw;
        height: 100%;
        align-self: center;
    }

    .toggle__menu:hover {
        cursor: pointer;
    }

    .toggle__menu:active {
        transform: scale(90%);
    }

    .menu {
        flex-direction: column;
        position: absolute;
        align-items: center;
        justify-content: flex-start;
        height: 100vh;
        width: 35vw;
        right: 0;
        top: 0;
        font-size: 1.7rem;
        background-color: rgba(0, 0, 0, 0.75);
        font-weight: 100;
        padding: 4rem 0 0 0;
        letter-spacing: 2px;
        transition: 500ms;
        transform: translateX(325%);
    }

    .menu__link {
        padding: 1rem 0;
    }
    
    .card__container {
        display: grid;
        grid-template-columns: auto;
    }

    .form_container {
        width: 40%;
    }

    .menu--show {
        display: flex;
        transition: 500ms;
        transform: translateX(0%);
        }
}

@media (max-width: 768px) {

    .main__card {
        display: grid;
        grid-template-areas:
        'avatar avatar'
        'main__h1 main__h1'
        'main__name main__name'
        'main__paragraph main__paragraph'
        'button_contact button_projects';
        grid-template-columns: auto auto;
        width: auto;
        padding-top: 9rem;
        row-gap: 0.8rem;
        justify-items: center;
        text-align: center;
        margin: 0 auto 2rem;
    }
    .avatar {
        margin:auto;
        padding: 0;
        width: 50%;
    }

    .main__banner {
        display: none;
    }

    .about-me__p {
        padding: 0;
    }

    .about-me__visionmission {
        display: grid;
        background-color: #221e1e8c;
        border-radius: 23px;
        width: calc(100% - 9rem);
        margin: 4rem auto 2rem;
        grid-template-columns: auto;
        padding: 0 3rem 1rem;
        column-gap: 3rem;
        justify-items: center;
        text-align: justify;
    }

    .about-me__p-work-process {
        width: 100%;
    }

        .mission {
            grid-row: 3/4;
        }

        .eye {
            grid-row: 4/5;
        }

        .how-i-work {
           
            width: calc(100% - 9rem);
        }

        .how-i-work__steps {
            display: grid;
            grid-template-rows: repeat(4, 1fr);
            grid-template-columns: 1fr;
            align-items: center;
            justify-self: center;
            text-align: justify;
        }

        .how-i-work__steps > div {
            padding: 0;
        }

        .form_container {
            max-width: 300px;
            width: 90vw;
        }
}

@media (max-width: 310px) {

    
    /* .logo {
        font-size: 1.2rem;
    }

    .card__img {
        width: 100%;
        margin: 0;
    }

    .section__main {
        background-image: url(/img/backgrounds/background-main.jpg);
        background-size: cover;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    } */


}
